body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

:root {
  --bgcolor: rgb(126, 195, 197);
  --headertext: rgb(80, 80, 80);
  --navlinks: rgb(80, 80, 80);
  --hovercolor: rgb(204, 71, 216);
  --bordercolor: rgb(1, 124, 97);
  --activelink: rgb(241, 235, 241);
}

body {
  font-family: "Arial" sans-serif;
}

.header {
  background: var(--bgcolor);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1.2%;
  border-bottom: 3px solid var(--bordercolor);
}

.headerimg {
  width: 10%;
  border-radius: 100%;
  border: 3px solid var(--bordercolor);
}

h1 {
  font-size: 250%;
  font-weight: 600;
  color: var(--headertext);
  margin-left: 0%;
}

h2 {
  font-size: 150%;
  color: var(--headertext);
}

.navul {
  display: flex;
  min-width: 300px;
  font-size: 150%;
  list-style: none;
}

.navlink {
  color: var(--navlinks);
  padding: 20px;
  text-decoration: none;
}

.navlinkactive {
  color: var(--activelink);
  text-decoration: underline;
  padding: 20px;
}

a:hover {
  color: var(--hovercolor);
}

.contentcontainer{
  width: 80%;
  margin: auto;
  text-align: center;
}

.content{
  font-size: 125%;
}

.AboutMe img{
  height: 500px;
  margin-top: 20px;
  border: 3px solid var(--bordercolor);
}

.AboutMe p {
  margin-bottom: 20px;
}

.ContactForm {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.emailinput {
  border: 2px solid var(--bordercolor);
  border-radius: 5px;
  height: 30px;
  margin: 20px;
}

.submitBtn {
  margin-bottom: 20px;
  height: 30px;
  font-size: 115%;
  width: 150px;
  border: 2px solid var(--bordercolor);
  background-color: var(--bgcolor);
  color: var(--headertext);
  border-radius: 5px;
}

.contactmessage {
  display: block;
  margin: auto;
  height: 200px;
  width: 50%;
  margin-bottom: 20px;
  border: 2px solid var(--bordercolor);
}

.resumeSpan {
  font-size: 130%;
  margin-top: 10px;
  color: var(--navlinks);
}

.resumeSpan a {
  color: var(--hovercolor);
  text-decoration: none;
}

.resumeSpan a:hover {
  color: var(--bgcolor)
}

.frontEnd p {
  width: 50%;
  font-size: 120%;
  margin: auto;
  padding: 5px;
}

.backEnd p{
  width: 100%;
  font-size: 120%;
  margin: auto;
  padding: 5px;
}

.card {
  display: flex;
  margin: 4%;
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid var(--bordercolor);
  flex-wrap: wrap;
  display: inline-block;
  border-radius: 15px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card .linkboxes {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: var(--bgcolor);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  text-decoration: none;
  color: var(--headertext);
  border-bottom: 3px solid var(--bordercolor);
}

.card .linkboxes:hover {
  color: var(--hovercolor);
}

.contenttitle {
  border-bottom: 3px solid var(--bordercolor);
  margin: auto;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bigCont {
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bgcolor);
  padding: 20px;
  align-items: center;
  border-top: 3px solid var(--bordercolor);
}

.icon {
  font-size: 300%;
  color: var(--headertext);
  padding-left: 20px;
  padding-right: 20px;
}

.ghIcon {
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 120%;
  color: var(--headertext)
}

@media screen and (max-width: 980px) {
  body,
  header,
  .bottom {
    flex-direction: column;
  }

  .headerimg{
    margin: auto;
    height: 150px;
    width: 25%;
  }

  h1,
  nav {
    flex-direction: column;
    padding: 20px;
  }
}
